.grid-posts{
  .post{
    &-block{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
      @include max-w($media-sm){
        grid-template-columns: 1fr;
      }
    }
  }
}